.Container {
    width: 100%;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tables {
    width: 100%;
}

.button-play {
    width: 25%;
    height: 100px;
}

.table-headers {
    width: 100%;
}

.table-headers th {
    width: 10%;
}

.table-headers .position {
    width: 1%;
}


